.container{
  max-width: 1200px;
  margin: 0 auto; /* Centralizando o conteúdo*/
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.menu {
  width: 100%;
  background: #ffffff;
  box-shadow: 0px 4px 30px -10px rgba(0, 0, 0, 0.1);
}

.menu-flex {
  display: flex;
  align-items: center;
}

.menu-column {
  display: flex;
  align-items: center;
  width: 50%;
  justify-content: flex-start;
}

.menu-column.menu-second-column {
  justify-content: flex-end;
}

.menu-nav ul {
  display: flex;
  list-style: none;
  gap: 10px; /* Vamos utilizar essa propriedade do flex para colocar um espaçamento entre os elementos*/
}

.menu-nav ul li a {
  text-decoration: none;
  color: #585e65;
}

.menu-link-button {
  text-decoration: none;
  height: 48px;
  background-color: #4c6ef5;
  color: #fff;
  padding: 0 32px;
  display: flex;
  align-items: center;
  border-radius: 4px;
}

*img{
align-items: center;
}

.products-wrapper{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  }

.card {
  border-radius: 5px;
  box-shadow: 7px 7px 13px 0px rgba(50, 50, 50, 0.22);
  padding: 0px;
  margin-botton: 16px;
  width: 24%;
  transition: all 0.3s ease-out;
}

.card:hover {
  transform: translateY(-5px);
  cursor: pointer;
}
 
.card p {
  color: #a3a5ae;
  font-size: 16px;
}
 
.image {
  float: right;
  max-width: 64px;
  max-height: 64px;
}


.wallet-button{
  text-decoration: none;
  height: 48px;
  background-color: #4c6ef5;
  color: #fff;
  padding: 0 24px;
  display: flex;
  align-items: center;
  border-radius: 4px;
  text-align: center;
  display: flex;
  justify-content: center;
  
}